<% provide(:title, 'Add Users') %>
<h1>Add Users</h1>
<h3>Instructions</h3>
<p>Please enter a list of NetIDs, either separated by commas or one per line (you can copy and paste a list out of Excel, for example). The system will attempt to look them up in Yale's directory and create user accounts for them if they are found.</p>
<%= simple_form_for @enrollment do |f| %>
  <%= f.input :ids, as: :text %>
  <%= f.submit 'Submit' %>
<% end %>
<%= link_to 'Cancel', users_path %>
