<% unless current_user.admin? %>
  <div class="card">
    <div class="card-divider">
      <h4>Welcome to Vesta!</h4>
    </div>
    <div class="card-section">
      <p>Use the links above to navigate your housing draw.</p>
      <% unless @college.student_info_text.blank? %>
        <p><%= @college.student_info_text %></p>
      <% end %>
      <% unless @college.floor_plan_url.blank? %>
        <p><%= link_to 'View floorplan', @college.floor_plan_url, target: '_blank', rel: 'nofollow' %></p>
      <% end %>
    </div>
  </div>
  <% if @draw.present? && !@draw.draft? %>
    <div class="card">
      <div class="card-divider">
        <h4>Your draw: <%= link_to @draw.name, draw_path(@draw) %></h4>
      </div>
      <div class="card-section">
        <p>You are living <%= current_user.intent.humanize.downcase %>.</p>
        <% if @intent_deadline.present? %>
          <p>Deadline to submit intent: <%= @intent_deadline.strftime('%B %e') %></p>
        <% end %>
        <% if @locking_deadline.present? %>
          <p>Deadline to form a group: <%= @locking_deadline.strftime('%B %e') %></p>
        <% end %>
        <% if @group.present? %>
          <p><%= link_to 'Your group', draw_group_path(@draw, @group) %>
        (<%= size_str(@group.size).capitalize %>, <%= display_group_status(@group) %>)</p>
        <% elsif @pending.present? && !@pending.empty? %>
          <hr />
          <p>Your membership invitations and requests:</p>
          <ul>
            <% @pending.each do |m| %>
              <li><%= link_to m.group.name, draw_group_path(@draw, m.group) %> (<%= m.status %>)</li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @suite.present? %>
    <div class="card">
      <div class="card-divider">
        <h4>Your suite: <%= link_to @suite.number, suite_path(@suite) %></h4>
      </div>
      <div class="card-section">
        <% if @room.present? %>
          <p>Your room is <%= @room.number_with_type %></p>
        <% else %>
          <p>Your leader has not yet submitted room assignments!</p>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<% unless current_user.student? %>
  <% if @draws.empty? %>
    <p>Welcome to Vesta! Use the navbar above to manage housing inventory and create draws!</p>
  <% else %>
    <% @draws.each do |draw| %>
      <div class="card">
        <div class="card-divider">
          <h4><%= link_to draw.name, draw_path(draw) %> (<%= draw.status.humanize %>)</h4>
        </div>
        <div class="card-section">
          <%= render draw.status, draw: draw %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
