Hi <%= @user.name %>,
It's now your group's turn to pick a suite! Please log in to <% @college.site_url %> or meet with your housing rep to select a suite for your group.
Please e-mail <%= @college.admin_email %> or contact your housing rep if you have any questions.
Sincerely,
<%= @college.dean %>
