<% if @color_class == 'success' %>
  $('#lottery-form-<%= @group.id %>').addClass('<%= @color_class %>', 750, 'swing', function() {
    $('#lottery-form-<%= @group.id %>').removeClass('<%= @color_class %>', 750, 'swing');
  });
    $('#lottery-form-<%= @group.id %>').html('<%= escape_javascript(render partial: 'lottery_assignments/edit_form', locals: { group: @group }) %>');
<% else %>
    <% if @color_class %>
      $('#lottery-form-<%= @group.id %>').addClass('<%= @color_class %>', 750, 'swing', function() {
        $('#lottery-form-<%= @group.id %>').removeClass('<%= @color_class %>', 750, 'swing');
      });
    <% end %>
    $('#lottery-form-<%= @group.id %>').html('<%= escape_javascript(render partial: 'lottery_assignments/new_form', locals: { group: @group }) %>');
<% end %>
