<% provide(:title, "#{@draw.name} - Assign Lottery Numbers") %>
<h1><%= @draw.name %> - Assign Lottery Numbers</h1>
<p>Please enter a lottery number for each group below. The number will save after you click out of the field (and the background of the relevant row should turn blue). When you're finished please return to the draw page to proceed to suite selection.</p>
<table class="lottery-forms-table">
  <% @draw.groups.each do |group| %>
    <tr class="lottery-form" id="lottery-form-<%= group.id %>">
      <% if group.lottery_assignment %>
        <%= render partial: 'edit_form', locals: { group: group, lottery_assignment: group.lottery_assignment } %>
      <% else %>
        <%= render partial: 'new_form', locals: { group: group, lottery_assignment: group.lottery_assignment } %>
      <% end %>
    </tr>
  <% end %>
</table>
<% if policy(@draw).start_selection? %>
  <%= link_to 'Start suite selection', start_selection_draw_path(@draw), method: :patch, data: { confirm: 'Are you sure that you have finished assigning lottery numbers? They cannot be changed after you proceed!' }, class: 'button' %>
<% end %>
<p><%= link_to 'Return to draw', draw_path(@draw) %></p>
