$('#lottery-form-<%= @group.id %>').html('<%= escape_javascript(render partial: 'lottery_assignments/edit_form', locals: { group: @group }) %>');
<% if @color_class %>
  $('#lottery-form-<%= @group.id %>').addClass('<%= @color_class %>', 750, 'swing', function() {
    $('#lottery-form-<%= @group.id %>').removeClass('<%= @color_class %>', 750, 'swing');
  });
<% end %>
